@charset "UTF-8";
#img_div {
    background-color: #000;
    width: 100%;
    position: relative;
}
#img_div p{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color:#fff;
    margin:0;
}
#img_div img {
    opacity: 0.5;
    display:block;
    position: relative;
    height: 100vh;
    width: 100%;
}
.fadein {
    animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
nav {
    width: 100%;
    height: 70px;
    background-color: dimgray;
    padding-top: 5px;
    box-sizing: border-box;
}
ul {
    display: flex;
}
li {
    list-style: none;
}
nav li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 35px;
}
.news {
    border-bottom: double 5px #FFC778;
}
.wrapper{
    width: 500px;
    padding: 8px;
    border: .5px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 24px;
}
.img-wrapper img{
    width: 100%;
    vertical-align: bottom;
}

.content-wrapper{
    padding: 8px 0;
}

.content-wrapper .heading{
    margin: 0 0 8px;
}

.content-wrapper .text{
    margin: 0;
    font-size: 14px;
}

@media(min-width: 600px){
    .flex-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .wrapper{
        width: 30%;
        margin: 0;
    }
}
.sub_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sub_content img {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}
