@charset "UTF-8";
/* 共通部分 --------------------------------------------------------------- */
/* HEADER --------------------------------------------------------------- */
.logo {
    width: 1080px;
    margin-top: 20px;
}

.main-navi {
    display: flex;
    font-size: 1.2em;
    list-style-type: none;
}
.main-navi li {
    margin-left: 30px;
}
.main-navi a {
    color: #432;
}
.main-navi a:hover {
    color: #0bd;
}