@charset "utf=8";
#content {
    width: 960px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    border: solid;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #000;
    padding: 10px;
}

#buttonArea {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
}
.exchangeRateInput {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    padding: 0;
    border: solid;
    text-align:right
}
div {
    margin: 3px;
}

.orders {
    display: flex;
}
img {
    width: 200px;
    height: 140px;
}
.foodName {
    width: 200px;
    text-align: center;
}
.orderButton {
    width: 200px;
    text-align: center;
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
