@charset "utf=8";
#content {
    width: 960px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    border: solid;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #000;
    padding: 10px;
}

#buttonArea {
    width: 960px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    border: solid;
}
