@charset "UTF-8";
.box {
    height: 200px;
    width: 200px;
    border: 2px solid lightpink;
}
.box1 {
    margin-left: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.box2 {
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
}